<div class="social-icons">
  <div class="left">
    <a class="fa fa-github" href="https://github.com/AvetisG"></a>
    <a class="fa fa-stack-overflow" href="http://stackoverflow.com/users/973616/avetisg"></a>
    <a class="fa fa-stack-exchange" href="http://programmers.stackexchange.com/users/154934/avetisg"></a>
    <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCFveDSYkRjRve8ly3qXVqCw"></a>
    <a class="fa fa-google-plus" href="https://plus.google.com/b/118372896510329515229/118372896510329515229/about"></a>
    <a class="fa fa-twitter" href="https://twitter.com/AvetisG"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/avetisg"></a>
    <a class="fa fa-rss" href="{{ "/atom.xml" | prepend: site.baseurl }}"></a>
  </div>
</div>
<div class="clearfix"></div>
